@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}



/* NAVBAR SECTION */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-nav{
    display: flex;
    align-items: center;
}
.middle-nav{
    display: flex;
    align-items: center;
}
.right-nav{
    display: flex;
    align-items: center;
}
/* SIDE BAR SECTION */
aside {
    width: 240px;
    height: 100%;
    padding: 25px;
}
.side-bar-section{
    display: flex;
    flex-direction: column;
}
.short-icon{
    width: 20px;
    margin-right: 10px;
}
/* VIDEO SECTION */
.main-body{
    height: calc(100vh - 56px);
    display: flex;
    overflow: hidden;
}
.videos {
    width: calc(100vw - 240px);
    height: 100%;

    border-top: 1px solid #cccccc;
    overflow-y: scroll;
}
.video-grid {
    display: flex;
    flex-wrap: wrap;
}
.video {
   
    width: calc(25%-10px);
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 35px ;
}
.video .thumbnail img{
    width: 75%;
    padding: 15px;
}
.video .video-details p{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video .posted-by{
    font-size:  14px ;
    font-weight: 500 ;
    color: #606060;
}
.videos .details {
    display: flex;
    margin: 5px;
    width: 90%;
    
}

.video .profile{
    margin-right: 12px;
}
.video .profile img{
    border-radius: 50%;
    width: 36x;
    height: 36px;
}